// Colors
$white     : #fff !default;
$gray      : #4c4c4c !default;
$bold-color: #53489c !default;

// Body.
$body-bg: #101010 !default;
$body-color: $white !default;

// Links.
$link-color: $white !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: none !default;

// Paragraph.
$paragraph-margin-bottom: 32px !default;
$paragraph-color: $gray !default;

// Grid columns.
$grid-gutter-width: 20px !default;

// Fonts.
$font-family-base     : 'Roboto', sans-serif !default;
$h1-font-size         : calcRem(40px) !default;
$h1-font-size-mobile  : calcRem(30px) !default;
$h2-font-size         : calcRem(30px) !default;
$h2-font-size-mobile  : calcRem(24px) !default;
$h3-font-size         : calcRem(24px) !default;
$h3-font-size-mobile  : calcRem(16px) !default;
$h4-font-size         : calcRem(20px) !default;
$h4-font-size-mobile  : calcRem(12px) !default;
$h5-font-size         : calcRem(16px) !default;
$h6-font-size         : calcRem(16px) !default;
$display-1-size       : calcRem(70px) !default;
$h1-padding-top       : 0 !default;

// Easings.
$easeInOutExpo: cubic-bezier(0.87, 0, 0.13, 1);
$easeOutExpo: cubic-bezier(0.16, 1, 0.3, 1);
