/**
 * Global.
 */
 * {
    -moz-font-feature-settings: 'liga' 0, 'clig' 0;
    -webkit-font-feature-settings: 'liga' 0, 'clig' 0;
    font-feature-settings: 'liga' 0, 'clig' 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-variant-ligatures: no-common-ligatures !important;
  }
  
  ::-moz-selection {
    background-color: #000;
  }
  
  ::selection {
    background-color: #000;
  }
  