/**
 * Index.
*/

.movielist {
  padding-top: 80px;
  position: relative;
  width: 100%;

  &__form {
    display: flex;
    justify-content: center;
    padding: 0 16px;
    position: fixed;
    top: 130px;
    width: 100%;
    z-index: 99;

    @include media-breakpoint-up(sm) {
      padding: 0;
    }
  }

  &__form-item {
    max-width: 320px;
    width: 100%;

    @include media-breakpoint-up(sm) {
      max-width: 400px;
    }

    > form {
      width: 100%;
    }
  }

  &__form-input {
    position: relative;

    > input {
      border: none;
      border-radius: 100px;
      color: $bold-color;
      font-size: calcRem(12px);
      font-weight: 600;
      height: 50px;
      letter-spacing: 0.5px;
      outline: none;
      padding-left: 20px;
      padding-right: 60px;
      text-transform: uppercase;
      width: 100%;
    }

    > button {
      background-color: $bold-color;
      background-image: url('/img/search-icon.svg');
      background-image: url(/img/search-icon.svg);
      background-size: contain;
      border: none;
      border-radius: 100px;
      height: 40px;
      outline: none;
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
      width: 40px;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 120px 16px 0 16px;
  }

  &__wrapper-item-content {
    margin: 0 auto;
    max-width: 300px;
    width: 100%;
  }

  &__wrapper-item {
    margin: 40px 0;

    &:hover {
      .movielist__wrapper-item-mask-link {
        opacity: 1;
      }
    }
  }

  &__wrapper-item-poster {
    border-radius: 4px;
    height: 400px;
    overflow: hidden;
    position: relative;
    width: 100%;

    > img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  &__wrapper-item-mask {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 85%);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  &__wrapper-item-mask-label {
    bottom: 0;
    padding: 20px 28px;
    position: absolute;
    text-align: left;
    width: 100%;

    > small {
      font-size: calcRem(12px);
      font-weight: 400;
    }

    > h2 {
      font-size: calcRem(19px);
      font-weight: 600;
      letter-spacing: 0.5px;
      line-height: 26px;
      width: 100%;
      word-break: break-word;
    }

    > button {
      position: absolute;
    }
  }
  /* stylelint-disable */
  &__wrapper-item-mask-link {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 1s $easeOutExpo;
    width: 100%;

    > button {
      background: $bold-color;
      border: none;
      border-radius: 50px;
      color: $white;
      font-size: calcRem(11px);
      font-weight: 600;
      letter-spacing: 1px;
      outline: none;
      padding: 10px 28px;
      text-transform: uppercase;
    }
  }
  /* stylelint-enable */
}
