@font-face {
    font-family: "DBfont-ExtraLight";
    src: url('/fonts/SilkSerif-ExtraLight.eot');
    src: url('/fonts/SilkSerif-ExtraLight.woff2') format("woff2"),url('/fonts/SilkSerif-ExtraLight.woff') format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "DBfont-Light";
    src: url('/fonts/SilkSerif-Light.eot');
    src: url('/fonts/SilkSerif-Light.woff2') format("woff2"),url('/fonts/SilkSerif-Light.woff') format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "DBfont-Regular";
    src: url('/fonts/SilkSerif-Regular.woff2') format("woff2"),url('/fonts/SilkSerif-Regular.woff') format("woff");
    font-weight: 400;
    font-style: normal
}
