// Colors
$white   : #fff !default;
$gray    : #c7c7c7 !default;
$gray-100: #eee !default;
$gray-200: #dfdfdf !default;
$gray-300: #c0c0c0 !default;
$gray-400: #999 !default;
$gray-500: #777 !default;
$gray-600: #555 !default;
$gray-700: #444 !default;
$gray-800: #333 !default;
$gray-900: #222 !default;
$black   : #000 !default;

$blue  : #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink  : #e83e8c !default;
$red   : #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green : #28a745 !default;
$teal  : #20c997 !default;
$cyan  : #17a2b8 !default;

$primary  : #126ab3 !default;
$secondary: #6c757d !default;
$success  : #c2ebdb !default;
$info     : #b9f0f6 !default;
$warning  : #fff7d6 !default;
$danger   : #fcd3d9 !default;

// Body.
$body-bg: $black !default;
$body-color: $white !default;

// Links.
$link-color: $white !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: none !default;

// Paragraph.
$paragraph-margin-bottom: 32px !default;
$paragraph-color: $gray !default;

// Grid columns.
$grid-gutter-width: 20px !default;


// Fonts.
$font-family-base     : 'proxima-nova', sans-serif !default;
$h1-font-size         : calcRem(40px) !default;
$h1-font-size-mobile  : calcRem(30px) !default;
$h2-font-size         : calcRem(30px) !default;
$h2-font-size-mobile  : calcRem(24px) !default;
$h3-font-size         : calcRem(24px) !default;
$h3-font-size-mobile  : calcRem(16px) !default;
$h4-font-size         : calcRem(20px) !default;
$h4-font-size-mobile  : calcRem(12px) !default;
$h5-font-size         : calcRem(16px) !default;
$h6-font-size         : calcRem(16px) !default;
$display-1-size       : calcRem(70px) !default;
$h1-padding-top       : 0 !default;

// Easings.
$easeInOutExpo: cubic-bezier(0.87, 0, 0.13, 1);
$easeOutExpo: cubic-bezier(0.16, 1, 0.3, 1);
