/**
 * Header.
 */

.header {
  background-color: #131313;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.34);
  left: 0;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;

  &__wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__logo {
    display: flex;
    position: relative;

    > img {
      height: 60px;
    }
  }
}
